.loader-container{
    background: #000000D9;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    flex-direction: column;
    top: 0;
    left: 0;
  }
  
  .loader-content {
    text-align: center;
    position: absolute;
    top: 30vh;
  }
  

   