.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 120px;
  }
  
  .select {
    display: flex;
    flex-direction: column;
  }
  
  .labelTextProperty {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #888;
    margin:0 14px 10px 0;
  }
  .inputFieldProperty {
    background-color: #fff;
    border: 1px solid #dee2e6;
    background: none;
    padding: 6px;
    width: 356px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: start !important;
  }
  
  .errorMessage {
    color: red;
  }
  .labelText {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .selectField {
     /* width: 100%; */
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
  }
  